<div class="modal-header">
    <span class="modal-title">
        Добавить транзакцию
    </span>

    <button type="button" class="btn close pull-right" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <form [formGroup]="form">
        <div *ngIf="errorValidateForm" style="color: red;">
            Заполните все обязательные поля!
        </div>
        <div *ngIf="errorValidateSum" style="color: red;">
            Превышена допустимая сумма!
        </div>
        <div>

            <h4>
                <small>Клиент
                    <sup><i class="bi bi-asterisk" style="font-size:xx-small; color:#FF0000"></i>
                    </sup>
                </small>
            </h4>
            <p-dropdown class="transactionDropdown"
                        [options]="clients" 
                        formControlName="client" 
                        optionLabel="name" 
                        optionValue="ID"
                        (ngModelChange)="changeClient($event)"></p-dropdown>
        </div>

        <h4>
            <small>Назначение
                <sup><i class="bi bi-asterisk" style="font-size:xx-small; color:#FF0000"></i>
                </sup>
            </small>
        </h4>

        <p-dropdown class="transactionDropdown"
                    [options]="assignments" 
                    formControlName="assignment" 
                    optionLabel="name">
        </p-dropdown>

        <div>
            <h4>
                <small *ngIf="form.get('assignment')?.value.id !== 4">Счет 
                    <sup><i class="bi bi-asterisk" style="font-size:xx-small; color:#FF0000"></i>
                    </sup>
                </small>
                <small *ngIf="form.get('assignment')?.value.id === 4">Счет (откуда)
                    <sup><i class="bi bi-asterisk" style="font-size:xx-small; color:#FF0000"></i>
                    </sup>
                </small>
            </h4>
            <p-dropdown class="transactionDropdown"
                        [options]="clientBillsFrom" 
                        formControlName="billFrom" 
                        optionLabel="ID" 
                        (ngModelChange)="changeBillsFrom($event)">
            </p-dropdown>
            <div style="float: right;">
                Денег на счету: {{ form.get('billFrom')?.value.money }}
            </div>
        </div>

        <div *ngIf="form.get('assignment')?.value.id === 4">
            <h4>
                <small>Счет (куда)
                    <sup><i class="bi bi-asterisk" style="font-size:xx-small; color:#FF0000"></i>
                    </sup>
                </small>
            </h4>
            <p-dropdown class="transactionDropdown"
                        [options]="clientBillsTo" 
                        formControlName="billTo" 
                        optionLabel="ID"></p-dropdown>

            <div style="float: right;">
                Денег на счету: {{ form.get('billTo')?.value.money }}
            </div>
        </div>

        
        <h4>
            <small>Сумма
                <sup><i class="bi bi-asterisk" style="font-size:xx-small; color:#FF0000"></i>
                </sup>
            </small>
        </h4>

        <input type="number" 
                formControlName="amount" 
                class="form-control"
                step="0.01">

    </form>

</div>



<div class="modal-footer">

    <button class="btn btn-primary" type="button" (click)="onSubmit()" 
            [disabled]="!checkValidateForm() && !checkAmount()">
        Сохранить
    </button>

    <button class="btn btn-secondary" type="button" (click)="close()">
        Отменить
    </button>
</div>

