<div>
    <p-table #table
            [value]="transactions" 
            [paginator]="true" 
            [rows]="5" 
            [rowsPerPageOptions]="[5,10,15,20]"
            [showCurrentPageReport]="true">

        <ng-template pTemplate="header">
            <tr>
                <th>
                    Клиент
                </th>
                <th>Сумма</th>
                <th>Назначение</th>
            </tr>

            <tr>
                <th>
                  <input class="form-control" pInputText type="text"
                  (input)="table.filter($any($event.target).value, 'clientName', 'contains')"  />
                </th>
    
                <th>
                    <input  class="form-control"  pInputText type="number"
                    (input)="table.filter($any($event.target).value, 'amount', 'contains')"  />
                  </th>

                  <th>
                    <input  class="form-control"  pInputText type="text"
                    (input)="table.filter($any($event.target).value, 'assignment', 'contains')"  />
                  </th>
              </tr>

        </ng-template>
        <ng-template pTemplate="body" let-transaction>
            <tr>
                <td>{{transaction.clientName}}</td>
                <td>{{transaction.amount}}</td>
                <td>{{transaction.assignment}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            Всего: {{table.totalRecords}}
          </ng-template>
    </p-table>

    <button type="button" class="btn btn-primary" (click)="addTransaction()">Добавить</button>

</div>