<div>
    <p-table #table
            [value]="bills"
            [paginator]="true" 
            [rows]="5" 
            [rowsPerPageOptions]="[5,10,15,20]"
            [showCurrentPageReport]="true">
  
      <ng-template pTemplate="header">
          <tr>
              <th>Номер</th>
              <th>Количество денег</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-bill let-i="rowIndex" >
          <tr [pSelectableRow]="bill">
              <td>{{bill.ID}}</td>
              <td>{{bill.money}}</td>
          </tr>
      </ng-template> 

      <ng-template pTemplate="paginatorleft">
        Всего: {{table.totalRecords}}
      </ng-template>
  </p-table>
  
  <button type="button" class="btn btn-primary" (click)="addBill()">Добавить</button>
  
  </div>