<div>
  <p-table #table
            [value]="clients"
            [paginator]="true" 
            [rows]="5" 
            [rowsPerPageOptions]="[5,10,15,20]"
            [showCurrentPageReport]="true" 
            (onRowSelect)="onRowSelect($event.data)"
            selectionMode="single" 
            [(selection)]="mySelection" >

    <ng-template pTemplate="header">
        <tr>
            <th>Имя</th>
            <th>Возраст</th>
        </tr>

        <tr>
            <th>
              <input class="form-control" pInputText type="text"
              (input)="table.filter($any($event.target).value, 'name', 'contains')"  />
            </th>

            <th>
                <input  class="form-control"  pInputText type="number"
                (input)="table.filter($any($event.target).value, 'age', 'contains')"  />
              </th>
          </tr>

    </ng-template>
    <ng-template pTemplate="body" let-client>
        <tr [pSelectableRow]="client">
            <td>{{client.name}}</td>
            <td>{{client.age}}</td>
        </tr>
    </ng-template> 

    <ng-template pTemplate="paginatorleft">
        Всего: {{table.totalRecords}}
      </ng-template>
</p-table>

<button type="button" class="btn btn-primary" (click)="addClient()">Добавить</button>

</div>
