<div class="modal-header">
    <span class="modal-title">
        Добавить клиента
    </span>

    <button type="button" class="btn close pull-right" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">

    <form [formGroup]="form">
            <div class="row">
                <h4>
                    <small> Имя
                        <sup><i class="bi bi-asterisk"
                            style="font-size:xx-small; color:#FF0000"></i>
                        </sup>
                    </small>
                </h4>
                <input type="string" 
                    formControlName="name" 
                    class="form-control">
            </div>

            <div class="row">
                <h4><small>Возраст</small></h4>
                <input type="number" 
                    formControlName="age"
                    class="form-control">
            </div>

    </form>

</div>



<div class="modal-footer">

    <button class="btn btn-primary" type="button" (click)="onSubmit()" [disabled]="!form.valid">
        Сохранить
    </button>

    <button class="btn btn-secondary" type="button" (click)="close()">
        Отменить
    </button>
</div>