
<div class="content" role="main" style ="margin-bottom: 20px;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/clients">Клиенты</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/transactions">Транзакции</a>
            </li>
          </ul>
        </div>
      </nav>
</div>

<router-outlet></router-outlet>