<div class="modal-header">
    <span class="modal-title">
        Добавить счет
    </span>

    <button type="button" class="btn close pull-right" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">

    <form [formGroup]="form">
        <div>
                <label>Количество денег </label>
                <input type="number" 
                    step="0.01"
                    formControlName="money"
                    class="form-control">
         </div>
    </form>

</div>  



<div class="modal-footer">

    <button class="btn btn-primary" type="button" (click)="onSubmit()" [disabled]="!form.valid">
        Сохранить
    </button>

    <button class="btn btn-secondary" type="button" (click)="close()">
        Отменить
    </button>
</div>