/* You can add global styles to this file, and also import other style files */
td, th {
    border-width: 1px !important;
}

.p-datatable {
    margin: 0 20px;
}

button {
    margin-top: 10px;
    margin-left: 20px;
}